# eclipse project files (for now)
.settings
.pydevproject
.cproject
.project

# generated package files
prj/example/out
release
__pycache__
out
packages/*/rtos-*
prj.errors
prj_build*


# merge artefacts
*.orig
*.REMOTE.*
*.LOCAL.*
*.BASE.*
*.BACKUP.*

# GDB file.
.gdbinit*
